<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org"
        xmlns:android="http://android.com"
        id="cordova-plugin-accessibility-security"
        version="1.0.0">
    <name>CordovaAccessibilitySecurity</name>
    <description>Secures Cordova WebView against malicious Android 16 accessibility tools and tapjacking.</description>
    <license>MIT</license>

    <!-- JavaScript interface mapping -->
    <js-module src="www/CordovaAccessibilitySecurity.js" name="AccessibilitySecurity">
        <clobbers target="window.plugins.AccessibilitySecurity" />
    </js-module>

    <!-- Android native platform configuration -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AccessibilitySecurityPlugin">
                <param name="android-package" value="com.betasoft.cordova.plugin.accessibilitysecurityplugin.AccessibilitySecurityPlugin"/>
            </feature>
        </config-file>

        <!-- Tells Cordova where to copy your native Java file inside the platforms folder -->
        <source-file src="src/android/AccessibilitySecurityPlugin.java" target-dir="src/com/betasoft/cordova/plugin/accessibilitysecurityplugin" />
    </platform>
</plugin>
